html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(51, 46, 46);
    background-color: #186776;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar {
    margin-bottom: 1.5rem;
}

.container h2,
.container h3,
.container h4 {
    color: #c3c7cb;
}

#recipe-list .card {
    margin-bottom: 1.5rem;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.card {
    color: black;
}